let mapleader=" "  
syntax enable "开启高亮

" Quit insert mode
inoremap jj <Esc>
inoremap jk <Esc>
inoremap kj <Esc>
inoremap kk <Esc>

" Quit visual mode
vnoremap v <Esc>

" Tab operation
nnoremap tn gt
nnoremap tp gT

" Redo
nnoremap U <C-r>

" Move half page faster
nnoremap <Leader>d  <C-d>
nnoremap <Leader>u  <C-u>

" System clipboard
vnoremap <Leader>y  "+y
nnoremap <Leader>p  "+p

" Insert mode shortcut,可以考虑使用硬编程键盘代替以下处理方式，减少对左手小拇指的损伤
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
inoremap <C-t> <Home>
inoremap <C-e> <End>
inoremap <C-;> <Delete>
inoremap <C-p> <BS>

"打开终端
nnoremap <Leader>tl Vy<CR>:action ActivateTerminalToolWindow<CR>
vnoremap <Leader>tl y<CR>:action ActivateTerminalToolWindow<CR>

nnoremap <Leader>ga :action GotoAction<CR>
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gd :action GotoDeclaration<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <Leader>gi :action GotoImplementation<CR>
nnoremap <Leader>gs :action GotoSymbol<CR>
nnoremap <Leader>gt :action GotoTest<CR>

nnoremap <Leader>re :action RenameElement<CR>
nnoremap <Leader>rf :action RenameFile<CR>

nnoremap <Leader>fu :action FindUsages<CR>
nnoremap <Leader>se :action SearchEverywhere<CR>
nnoremap <Leader>su :action ShowUsages<CR>
nnoremap <Leader>tc :action CloseActiveTab<CR>

" Window operation
nnoremap <Leader>ww <C-W>w
nnoremap <Leader>wc <C-W>c
nnoremap <Leader>wo <C-W>o
nnoremap <Leader>wj <C-W>j
nnoremap <Leader>wk <C-W>k
nnoremap <Leader>wh <C-W>h
nnoremap <Leader>wl <C-W>l
nnoremap <Leader>ws <C-W>s
nnoremap <Leader>wv <C-W>v

nnoremap <Leader>mv :action ActivateMavenProjectsToolWindow<CR>

"等同于ctrl + Alt + o
nnoremap <Leader>oi :action OptimizeImports<CR>

"等同于ctrl + Alt + F12
nnoremap <Leader>fp :action ShowFilePath<CR>
nnoremap <Leader>pm :action ShowPopupMenu<CR>

" built in search looks better
nnoremap / :action Find<CR>
" but preserve ideavim search
nnoremap <Leader>/ /

nnoremap <Leader>cd :action ChooseDebugConfiguration<CR>

nnoremap <Leader>sp :action Android.SyncProject<CR>

"toggle
nnoremap <C-A-;> :action ToggleDistractionFreeMode<CR>
nnoremap <C-;> :action ToggleFullScreen<CR>
nnoremap <A-;> :action TogglePresentationMode<CR>

